body{
    margin:0px;
    padding:0;
    background-color: white;
    background-image: url('amazon.jpg');
    background-repeat:no-repeat;
    background-position: top left;
}
html*{
    margin: 0px;
    padding:0;
   box-sizing: content-box;
}
p{
    font-style: italic;
    font-weight: 300;
    color:blue;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    
}
#para{
    color: brown;
    display: inline;
}
ul{
    list-style: none;

}
ul li{
    float: left;

}